<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
        <h1>please upload your .csv file</h1>
    </header>

    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv">
            <input type="submit" value="Upload">
        </form>
    </div>

    <div>
    <form action="/submit" method="post">
        <ul>
            {% for item in items %}
            <h2>{{ item }}</h2>
            <ul>
                <p>bool</p>
                <input type="hidden" name="bool_values" value=0>
                <input type="checkbox" name="bool_values" value=1>
            </ul>
            <ul>
                <p>ignore zero</p>
                <input type="hidden" name="ignore_zero_values" value=0>
                <input type="checkbox" name="ignore_zero_values" value=1>
            </ul>
            {% endfor %}
        </ul>
        <input type="number" name="amount" placeholder="Enter a number">
        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>